CHEAPFOOD_HOST=0.0.0.0
CHEAPFOOD_PORT=8000
CHEAPFOOD_MEDIA_DIR=./media
CHEAPFOOD_LOG_LEVEL=INFO
CHEAPFOOD_SCRAPY_CONCURRENT_REQUESTS=4
CHEAPFOOD_SCRAPY_DOWNLOAD_DELAY=1.0
CHEAPFOOD_SCRAPY_USER_AGENT=CheapFood Menu Bot/1.0
CHEAPFOOD_PLAYWRIGHT_ENABLED=true
CHEAPFOOD_GEMINI_API_KEY=
